body {
  background:black;
}


.skyblue {
  background: black;
}

.box{
  padding: 10px;
  background:rgb(211, 4, 211);
  align-content: center;
  text-align: center;
  color: whitesmoke;
}


.navbar {
  margin-right: 0px;
  margin-left: 0px;
  padding: 25px;
  background:rgb(70, 6, 70);
}

.navbar li {
  display: d-block;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
  align-content: center;
  text-align: center;
  color: whitesmoke;
  
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 20px;
}


p{
    font-size: 20px;
}


.c-d{color:rgb(252, 221, 221);
  font-size: 25px;
}

.latitude {
  color: whitesmoke;
  font-family: verdana;
  font-size: 40px;
  background-color:rgb(121, 17, 121);
  border: 1px solid rgb(58, 4, 59);
    padding: 15px;
}

@media (max-width: 400px) {
  .navbar li {
    padding: 5px;
  }
  .box {
    margin-right: 10px;
    margin-left: 10px;
  }
  #nav-select {
    visibility: visible;
  }
}

/* For desktop: */
.col-1 {width: 10%;}
.col-2 {width: 15%;}
.col-3 {width: 30%;}
.col-4 {width: 30%;}
.col-5 {width: 40%;}
.col-6 {width: 50%;}
.col-7 {width: 60%;}
.col-8 {width: 70%;}
.col-9 {width: 75%;}
.col-10 {width: 85%;}
.col-11 {width: 90%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 780px) {
    [class*="col-"] {
        width: 100%;
    }
}